.Input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 24px; /* Reserva espacio fijo para mensajes de error */
  }
  
  .Input {
    background-color: #eee;
    border: none;
    margin: 3px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    padding-right: 40px;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .input-error {
    border: 1px solid red;
  }
  
  .error-text {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 12px;
    padding-top: 4px;
  }
  